body{
    background-image: url(../img/fondo.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.btn-primary {
    background-color: fuchsia;
}
.btn-primary:hover{ /*Al posicionar el cursor en el boton, hay una transicion de color*/
    background-color: lightseagreen;
}
.bg-otra{
    background-color:olivedrab;
}
