
.negro{
    background-color: black !important;
    color: white !important;
}
.rojo{
    background-color: red;
    color: yellow;
    width: 20%;
    height: 350px;
    float: left;
    margin: 10px;
    font-size: xx-large;
}
